/* background */
.ma_fixed-background img{
    width:100%; 
    z-index:-99; 
    position: fixed
}
/* section 1 */
#section-1{
    background-color: #333333aa;
    padding: 0 72.5px;
}
#section-1 .ma_big-title{
    font-size: 90px;
    font-weight: 700;
}
#section-1 .ma_big-subtitle{
    font-weight: 700;
}
/* button */
#section-1 .ma_btn-green{
    width: 12.5em;
    font-size: 0.9em;
    border-radius: .5em;
}
#section-1 .ma_btn-green{
    width: 12.5em;
    font-size: 0.9em;
    border-radius: .5em;
}
#section-1 .ma_btn-white{
    width: 12.5em;
    font-size: 0.9em;
    border-radius: .5em;
}
/* background */
.ma_bg-transparent{
    background-color: #00000000;
}
.ma_bg-white{
    background-color: white;
}
/* typograph */
.ma_section-title{
    font-weight:700;
    font-size:40px;
}
.ma_section-subtitle{
    color: #777;
    font-weight: 600;
    letter-spacing: 4px;
}
.ma_marker{
    font-size: 11em;
    font-weight: 700;
}
.ma_marker-subtitle{
    color:#777; 
    font-size:.8em; 
    font-weight:700; 
    letter-spacing:2px; 
    line-height:1.5em
}
.ma_welcome-paragraph{
    color:#696969; 
    font-size:1.1em; 
    font-weight:500
}
.ma_welcome-link{
    font-weight:500;
    font-size:.8em
}
/* section-2 */
#section-2{
    background-color: white;
    padding: 72.5px;
}

/* section-3 */
#section-3{
    background-color:white;
    padding:0 72.5px;
}

.ma_card{
    background-color: #e8f2e8;
    border-radius: .6em;
    padding: 19px 24px;
    position: relative;
}
.ma_card-title{
    font-size: 27px;
    font-weight: 700;
}
.ma_card-paragraph{
    font-size: 1em;
    font-weight: 500;
    color:#696969;
}
.ma_card-icon{
    position: absolute;
    top: 20px;
    right: 15px;
}

/* section-4 */
#section-4{
    background-color:white;
    padding:0 72.5px;
}

.ma_side-title{
    position: relative;
}
.ma_side-title p{
    position:absolute;
    left:0;
    top:40%;
    z-index:20;
    letter-spacing:2px; 
    font-weight: 600;
}
.ma_side-title h1{
    position:absolute;
    top:0;
    right:0;
    color:#ededed;
    font-size:9em;
    font-weight:900;
    transform: translateY(-.2em);
}
.ma_side-title-text::before{
    display:inline-block;
    content: "";
    border-top: solid 1px #3ca34a;
    width: 1.25em;
    transform: translateY(-5px);
    margin-right:.5em;
}

.ma_image-card img{
    max-width: 100%;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
}
.ma_image-card img:hover{
    max-width: 100%;
    -webkit-transform: translate(0,-5px);
    -moz-transform: translate(0,-5px);
    -o-transform: translate(0,-5px);
    -ms-transform: translate(0,-5px);
    transform: translate(0,-5px);
}
.ma_image-card h4{
    font-weight: 500;
}
.ma_image-card p{
    color:#777
}

.ma_image-slide{
    position: relative;
    width: 100%;
    border-radius: .8em;
    overflow: hidden;
}
  
.ma_image-slide .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: .8em;
    z-index: 1;
}
.ma_image-slide .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    border-radius: .8em;
    background-color: #3CA34A;
    opacity: 0;
}

.ma_image-slide:hover .overlay{
    opacity: .5;
}
.ma_image-slide .overlay2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all .3s;
    border-radius: .8em;
    background-image: linear-gradient( 180deg, 
    rgba( 0, 0, 0, 0 ) 50%, 
    rgba( 0, 0, 0, .6 ) 100%
    );
}
.ma_image-slide:hover .overlay2{
    background-image: linear-gradient( 180deg, 
    rgba( 0, 0, 0, 0 ) 100%, 
    rgba( 0, 0, 0, 1 ) 100%
    );
    
}

.ma_image-slide .text {
    opacity: 1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 120%);
    -webkit-transform: translate(-50%, 120%);
    -ms-transform: translate(-50%, 120%);
    transition: all .5s;
    width: 100%;
}
.ma_image-slide:hover .text{
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: all .5s;
}
.ma_image-slide .text h4{
    font-size: 2em;
    font-weight: 600;
}
#section-5{
    background-color:white;
    padding:0 72.5px;
}
  
#section-6{
    background-color:white;
    padding:0 72.5px;
}

.ma_image-product{
    position: relative;
    width: 100%;
    height: 15em;
    border-radius: .5em;
    overflow: hidden;
}
.ma_image-product .image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: .5em;
    z-index: 1;
    transition: all .5s;
}
.ma_product:hover .image{
    transform: scale(1.1);
    transition: all .5s;
}
.ma_image-product .ma_product-action{
    transition: all .5s;
    background: #3CA34A;
    color: white;
}
.ma_product:hover .ma_product-action{
    transform: translateY(-6em);
    transition: all .5s;
}

.footer-phone{
    font-weight: 700;
    color:#3CA34A;
}
#section-7{
    background-color:white;
    padding:0 72.5px;
    background-repeat: no-repeat;
    background-position: center right;
}

#section-footer{
    background-color:#252525;
    color:#666;
    padding:0 72.5px;
    background-repeat: no-repeat;
    background-position: center right;
}
#section-footer h4{
    color: white
}
#section-footer a{
    color: #666
}
#section-footer ul{
    padding-left: 0;
}
#section-footer li{
    list-style: none;
    margin-bottom: 10px;
}